<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="notes">
        {{localize "modules2ko.config-window-notes"}}
        <br>
        <i class="fab fa-github"></i>: <a href='https://github.com/ShoyuVanilla/FoundryVTT-modules2ko' target='_blank'>https://github.com/ShoyuVanilla/FoundryVTT-modules2ko</a>
    </p>
    <hr/>

    <ul id="module-list" class="directory-list package-list">
        {{#each modules}}
        <li class="package flexrow" data-module-name="{{this.name}}">
          <div class="package-overview flexrow">
                <input type="checkbox" class="active" name="{{this.name}}" data-dtype="Boolean" {{checked this.active}}/>
                <h3 class="package-title">{{this.title}}</h3>
                <div class="package-tags">
                    {{#if this.isOutdated }}
                    <span class="tag unavailable">{{localize "modules2ko.module-version"}} {{ this.moduleVersion }} &gt; {{localize "modules2ko.translated-version"}} {{ this.translationVersion }}</span>
                    {{else if this.isPredated}}
                    <span class="tag unknown">{{localize "modules2ko.module-version"}} {{ this.moduleVersion }} &lt; {{localize "modules2ko.translated-version"}} {{ this.translationVersion }}</span>
                    {{else}}
                    <span class="tag version">{{localize "modules2ko.module-version"}} {{ this.moduleVersion }} &equals; {{localize "modules2ko.translated-version"}} {{ this.translationVersion }}</span>
                    {{/if}}
                </div>
            </div>

            <ul class="package-metadata">
                <li><strong>{{localize "modules2ko.translator"}}:</strong> {{this.translator}}</li>
            </ul>
        </li>
        {{ else }}
        <p class="notes">현재 월드에 한국어 번역을 설정할 수 있는 모듈이 없습니다.</p>
        {{/each}}
    </ul>

    {{#if canConfigure}}
    <button type="submit" name="submit" value="1">
        <i class="far fa-save"></i> 저장
    </button>
    {{/if}}
</form>
